/* Logo */
.fs-4 {
  font-size: 1.4rem !important;
}

.logo .icon {
  font-size: 26px;
  color: #000;
}

/* Form */
.btn-primary,
.btn-toolbar button:hover {
  color: #fff;
  background-color: #3cacae;
  border-color: #3cacae;
}
.btn-primary:hover,
/*.links .btn-outline-secondary:hover,*/
.links .btn-outline-active {
  color: #fff;
  background-color: #db8196;
  border-color: #db8196;
}

.py-5 {
  padding-top: 0.3rem !important;
  padding-bottom: 1.5rem !important;
}

.input_lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}

a.link-more {
  float: right;
  color: #222;
}

a span.colored_text {
  font-weight: bold;
  text-decoration: underline;
}

a span.colored_text:hover {
  color: #3cacae;
}

a.link-dark:hover {
  text-decoration: underline;
}

a,
.colored_text,
a.link-secondary:hover,
a.link-more:hover,
.nav .nav-item a:hover {
  color: #db8196;
}

a:hover,
.text-small a {
  color: #3cacae;
}
.text-small,
.mb-1 {
  font-size: 0.85em;
}
.suppl_text {
  color: gray;
  font-size: 0.85em;
  font-weight: normal;
}
.suppl_text_small {
  color: gray;
  font-size: 0.75em;
  font-weight: normal;
}

/* TESTIMONIALS */
.align-center {
  text-align: center;
}
.hash-list,
.speakers {
  display: block;
  padding: 0;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .hash-list.cols-3 > li:nth-last-child(-n + 3),
  .speakers.cols-3 > li:nth-last-child(-n + 3) {
    border-bottom: none;
  }
}
@media (min-width: 768px) {
  .hash-list.cols-3 > li {
    width: 33.3333%;
  }
}
@media (min-width: 768px) {
  .speakers.cols-6 > li {
    width: 16.66%;
  }
}

.hash-list,
.speakers {
  border-bottom: 1px solid #dee2e6;
  margin-top: 25px;
}
.hash-list > li,
.speakers > li {
  display: block;
  float: left;
  /*border-bottom: 1px solid rgba(0, 0, 0, 0.2);*/
  margin-top: -30px;
}

.pad-30,
.pad-30-all > * {
  padding: 0 10px;
}
img {
  border: 0;
}
.mgb-20,
.mgb-20-all > * {
  margin-bottom: 20px;
}

.mgb-10,
.mgb-10-all > * {
  margin-bottom: 10px;
}

.mgb-70,
.mgb-70-all > * {
  margin-bottom: 50px;
}

.wpx,
.wpx-after:after {
  width: 70px;
}

.wpx_medium {
  width: 50px;
}

.wpx_small,
.wpx-after:after {
  width: 40px;
}

.img-round,
.img-rel-round {
  border-radius: 50%;
}
.padb-30,
.padb-30-all > * {
  padding-top: 50px;
}

.align-center {
  text-align: center;
}
[class*="line-b"] {
  position: relative;
  padding-bottom: 20px;
  /* border-color: #e6af2a; */
}
.fg-text-d,
.fg-hov-text-d:hover,
.fg-active-text-d.active {
  color: #222;
}
.font-cond-b {
  font-weight: 700 !important;
}

/* FAQ */
.features-boxed {
  color: #313437;
  background-color: #f4f4f4; /*eef4f7*/
  width: 100%;
}
.bg-light {
  background-color: #f4f4f4; /*eef4f7*/
}
.features-boxed p,
.features-boxed ul {
  color: #7d8285;
}

.features-boxed .features {
  /*padding: 20px 20px 0 20px;*/
  padding: 20px 0 0 0;
}

.features-boxed .item {
  text-align: center;
}

.features-boxed .item .box {
  text-align: center;
  padding: 10px 20px;
  background-color: #fff;
  margin-bottom: 20px;
}

.features-boxed .item .icon {
  font-size: 60px;
  color: #3cacae; /*7bd0e0*/
  margin-top: 20px;
  margin-bottom: 20px;
}

.features-boxed .item .name {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 8px;
  margin-top: 0;
  color: inherit;
}

.features-boxed .item .description {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.text-center tr td {
  padding-top: 20px;
}

.text_list {
  text-align: left;
  font-size: 15px;
  margin-top: 20px;
}

.table {
  margin-top: 20px;
}

div.h-100.p-5 {
  padding: 1rem 0 3rem 0 !important;
}

.btn-toolbar button {
  margin: 3px 6px 3px 0;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-md-9 {
  margin-top: 15px;
}

ol li a {
  color: #222;
  text-decoration: none;
  font-size: 0.9em;
}
.col-md-9 p {
  font-weight: bold;
}
.table-striped td a {
  font-size: 0.9em;
}

.nav li.nav-item a {
  color: #222;
}

.links button {
  background-color: #f8f9fa;
  border: 1px solid #f9f9f9;
  color: #000;
}

.links button a {
  color: #000;
  text-decoration: none;
}
.links button a:hover,
.links button:hover {
  color: #000;
  text-decoration: none;
}

.link_underline {
  text-decoration: underline;
  font-weight: bold;
}

.links .btn-sm {
  font-weight: bold;
  text-align: left;
}

/*
#fixed-menu {
  position: fixed;
  top: 20%;
  z-index: 100;
  border: 1px solid green;
} */

#fixed-menu li {
  list-style-type: none;
}
ul.links#fixed-menu {
  margin: 0;
  padding: 0;
}

ul.links#fixed-menu a:hover {
  text-decoration: none;
  color: #fff;
}
