.py-5 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.input_lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}

a.link-more,
.nav a strong:hover {
  float: right;
  color: #222;
}

a,
.colored_text,
a.link-secondary:hover,
a.link-more:hover,
.nav a strong {
  color: #db8196;
}
a:hover {
  color: #d3a0af;
}
.text-small {
  font-size: 0.85em;
  color: gray;
}
.suppl_text {
  color: gray;
  font-size: 0.85em;
  font-weight: normal;
}
.suppl_text_small {
  color: gray;
  font-size: 0.75em;
  font-weight: normal;
}

/* TESTIMONIALS */
.align-center {
  text-align: center;
}
.hash-list {
  display: block;
  padding: 0;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .hash-list.cols-3 > li:nth-last-child(-n + 3) {
    border-bottom: none;
  }
}
@media (min-width: 768px) {
  .hash-list.cols-3 > li {
    width: 33.3333%;
  }
}
.hash-list {
  border-bottom: 1px solid #dee2e6;
  margin-top: 25px;
}
.hash-list > li {
  display: block;
  float: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: -30px;
}
.pad-30,
.pad-30-all > * {
  padding: 0 30px;
}
img {
  border: 0;
}
.mgb-20,
.mgb-20-all > * {
  margin-bottom: 20px;
}

.mgb-10,
.mgb-10-all > * {
  margin-bottom: 10px;
}

.wpx,
.wpx-after:after {
  width: 70px;
}

.wpx_small,
.wpx-after:after {
  width: 40px;
}

.img-round,
.img-rel-round {
  border-radius: 50%;
}
.padb-30,
.padb-30-all > * {
  padding-top: 50px;
}

.align-center {
  text-align: center;
}
[class*="line-b"] {
  position: relative;
  padding-bottom: 20px;
  /* border-color: #e6af2a; */
}
.fg-text-d,
.fg-hov-text-d:hover,
.fg-active-text-d.active {
  color: #222;
}
.font-cond-b {
  font-weight: 700 !important;
}

/* FAQ */
.features-boxed {
  color: #313437;
  background-color: #eef4f7;
  width: 100%;
}

.features-boxed p,
.features-boxed ul {
  color: #7d8285;
}

.features-boxed .features {
  padding: 20px 20px 0 20px;
}

.features-boxed .item {
  text-align: center;
}

.features-boxed .item .box {
  text-align: center;
  padding: 10px 20px;
  background-color: #fff;
  margin-bottom: 20px;
}

.features-boxed .item .icon {
  font-size: 60px;
  color: #82d2ce;
  margin-top: 20px;
  margin-bottom: 20px;
}

.features-boxed .item .name {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 8px;
  margin-top: 0;
  color: inherit;
}

.features-boxed .item .description {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.text-center tr td {
  padding-top: 20px;
}

.text_list {
  text-align: left;
  font-size: 15px;
  margin-top: 20px;
}

.nav a:hover {
  text-decoration: underline;
}
.nav strong {
  text-decoration: underline;
}
